<div class="container setting-group">
    <div class="label">Volume</div>
    <input #volume (change)="handleChange($event.target.value)" (input)="handleMove($event.target.value)" value="0" class="slider" type="range" name="volume" id="volume">
    <div class="ticks-left">
        <div class="tick"><span>+15</span></div>
        <div class="tick"><span>+10</span></div>
        <div class="tick"><span>+5</span></div>
        <div class="tick"><span>0</span></div>
        <div class="tick"><span>-5</span></div>
        <div class="tick"><span>-10</span></div>
        <div class="tick"><span>-15</span></div>
        <div class="tick"><span>-20</span></div>
        <div class="tick"><span><img src="../../assets/icons/loop-gray.png" alt="inf"></span></div>
    </div>
    <div class="ticks-right">
        <div class="tick"></div>
        <div class="tick"></div>
        <div class="tick"></div>
        <div class="tick"></div>
        <div class="tick"></div>
        <div class="tick"></div>
        <div class="tick"></div>
        <div class="tick"></div>
        <div class="tick"></div>
    </div>
</div>