<div class="darken">
    <div class="label">
        <h1>Remote mode activated</h1>
        <small>Enter this code into the transmitting soundboard:</small>
        <section class="pin">
            <div class="pin-number">{{pinNumberOne}}</div>
            <div class="pin-number">{{pinNumberTwo}}</div>
            <div class="pin-number">{{pinNumberThree}}</div>
            <div class="pin-number">{{pinNumberFour}}</div>
        </section>
        <button (click)="handleExit()">ⓧ Exit</button>
    </div>
</div>