/* You can add global styles to this file, and also import other style files */
html {
    background-color: #000;
    font-family: sans-serif;
    font-weight: bold;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}