/* You can add global styles to this file, and also import other style files */
html {
    background-color: #000;
    font-family: sans-serif;
    font-weight: bold;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.setting-group {
    color: white;
    width: 80px;
    border: 2px solid rgb(195, 195, 195);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-bottom: 1rem;

    .label {
        background-color: rgb(195, 195, 195);
        color: black;
        mix-blend-mode: screen;
        text-transform: uppercase;
        font-size: .7rem;
        width: 100%;
        text-align: center;
        padding: 2px 0;
    }
}